.about{

    background:white;

}



.about-container{

    display:grid;

    grid-template-columns:0.8fr 1.2fr;

    align-items:center;

    gap:80px;

}



/* IMAGE */

.about-image{

    position:relative;

    width:500px;

    height:500px;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:auto;

}
.about-image::before{

    content:"";

    position:absolute;

    width:430px;

    height:430px;

    border-radius:50%;

    background:radial-gradient(circle,
        rgba(234,88,12,.45) 0%,
        rgba(234,88,12,.15) 40%,
        transparent 75%
    );

    animation:pulse 4s ease-in-out infinite;

    z-index:0;

}
.about-image::after{

    content:"";

    position:absolute;

    width:450px;

    height:450px;

    border:10px dashed rgba(221, 91, 22, 0.25);

    border-radius:50%;

    animation:rotateCircle 25s linear infinite;

}
.about-image img{

    width:360px;

    height:360px;

    border-radius:50%;

    object-fit:cover;

    border:8px solid #fff;

    box-shadow:
        0 30px 60px rgba(0,0,0,.18);

    position:relative;

    z-index:2;

}
@keyframes pulse{

    0%{

        transform:scale(.95);

        opacity:.6;

    }

    50%{

        transform:scale(1.05);

        opacity:1;

    }

    100%{

        transform:scale(.95);

        opacity:.6;

    }

}

@keyframes rotateCircle{

    from{

        transform:rotate(0);

    }

    to{

        transform:rotate(360deg);

    }

}
.about-image img:hover{

    transform:scale(1.03) translateY(-8px);

}

/* TAG */

.section-tag{

    display:inline-block;

    padding:8px 18px;

    border-radius:var(--radius-xl);

    background:#FFF7ED;

    color:var(--primary);

    font-weight:600;

    margin-bottom:20px;

}



/* TITLE */

.about-content h2{

    font-size:3rem;

    margin-bottom:25px;

}



/* TEXT */

.about-content p{

    margin-bottom:20px;

    color:var(--text);

}

.about-info{

    display:flex;

    gap:30px;

    margin:35px 0;

}



.about-info div{

    display:flex;

    flex-direction:column;

}



.about-info strong{

    font-size:1.2rem;

    color:var(--title);

}


.about-info span{

    color:var(--text);

}